<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>db_isp</description>
        <param-name>_DB</param-name>
        <param-value>db_isp</param-value>
    </context-param>
    <context-param>
        <description>192.168.217.16
138.185.136.142
138.185.136.207
127.0.0.1</description>
        <param-name>_IP</param-name>
        <param-value>127.0.0.1</param-value>
    </context-param>
    <context-param>
        <param-name>_PUERTO</param-name>
        <param-value>5432</param-value>
    </context-param>
    <context-param>
        <description>postgres
asesorvirtual</description>
        <param-name>_USUARIO</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <description>Gi%9875.-*5+$)
Gi%9875.-*5+$)(
Slt7584.l</description>
        <param-name>_CLAVE</param-name>
        <param-value>Gi%9875.-*5+$)</param-value>
    </context-param>
    <context-param>
        <description>C:\xampp\htdocs\anexos\dir/
/opt/lampp/htdocs/anexos/dir/</description>
        <param-name>_DIR</param-name>
        <param-value>/opt/lampp/htdocs/anexos/dir/</param-value>
    </context-param>
    <context-param>
        <param-name>_DB_DOCUMENTAL</param-name>
        <param-value>db_isp_documentos</param-value>
    </context-param>
    <context-param>
        <description>138.185.136.207
127.0.0.1</description>
        <param-name>_IP_DOCUMENTAL</param-name>
        <param-value>192.168.217.31</param-value>
    </context-param>
    <context-param>
        <param-name>_PUERTO_DOCUMENTAL</param-name>
        <param-value>5432</param-value>
    </context-param>
    <context-param>
        <param-name>_USUARIO_DOCUMENTAL</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>_CLAVE_DOCUMENTAL</param-name>
        <param-value>Gi%9875.-*5+$)</param-value>
    </context-param>
    <context-param>
        <param-name>_MAIL_SVR</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>_MAIL_PUERTO</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>_MAIL_REMITENTE</param-name>
        <param-value>facturacion.sait3@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>_MAIL_REMITENTE_CLAVE</param-name>
        <param-value>gls19.*Tu</param-value>
    </context-param>
    <context-param>
        <description>C:\xampp\htdocs\anexos\fe/
/opt/lampp/htdocs/anexos/fe/</description>
        <param-name>_DOCS_ELECTRONICOS</param-name>
        <param-value>/opt/lampp/htdocs/anexos/fe/</param-value>
    </context-param>
    <filter>
        <filter-name>VerificaAcceso</filter-name>
        <filter-class>jm.seg.filtro.VerificaAcceso</filter-class>
        <init-param>
            <param-name>Salir</param-name>
            <param-value>index.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>VerificaAcceso</filter-name>
        <servlet-name>FrmIndex</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>FrmPlanes</servlet-name>
        <servlet-class>jm.ser.FrmPlanes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmMenuPlanes</servlet-name>
        <servlet-class>jm.ser.FrmMenuPlanes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmDetallePlan</servlet-name>
        <servlet-class>jm.ser.FrmDetallePlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmPagoRegistro</servlet-name>
        <servlet-class>jm.pag.FrmPagoRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmPagoInstalaciones</servlet-name>
        <servlet-class>jm.pag.FrmPagoInstalaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmPagoSubir</servlet-name>
        <servlet-class>jm.pag.FrmPagoSubir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmPagoSubirGuardar</servlet-name>
        <servlet-class>jm.pag.FrmPagoSubirGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmBuscarCliente</servlet-name>
        <servlet-class>jm.seg.FrmBuscarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmUsuarioNuevoGuardar</servlet-name>
        <servlet-class>jm.seg.FrmUsuarioNuevoGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmInicioSesion</servlet-name>
        <servlet-class>jm.seg.FrmInicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmIndex</servlet-name>
        <servlet-class>jm.seg.FrmIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmSalir</servlet-name>
        <servlet-class>jm.seg.FrmSalir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmMenu</servlet-name>
        <servlet-class>jm.FrmMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmInstalacionReporte</servlet-name>
        <servlet-class>jm.pag.FrmInstalacionReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmFiltro</servlet-name>
        <servlet-class>jm.FrmFiltro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmGetTabla</servlet-name>
        <servlet-class>jm.FrmGetTabla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmReclamo</servlet-name>
        <servlet-class>jm.pag.FrmReclamo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmReclamoOpcion</servlet-name>
        <servlet-class>jm.pag.FrmReclamoOpcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmReclamoGuardar</servlet-name>
        <servlet-class>jm.pag.FrmReclamoGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmReclamoInfo</servlet-name>
        <servlet-class>jm.pag.FrmReclamoInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmPagoInfo</servlet-name>
        <servlet-class>jm.pag.FrmPagoInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmSuspencion</servlet-name>
        <servlet-class>jm.pag.FrmSuspencion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmSuspencionGuardar</servlet-name>
        <servlet-class>jm.pag.FrmSuspencionGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfSuspension</servlet-name>
        <servlet-class>jm.pag.pdf.PdfSuspension</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmCambiarClave</servlet-name>
        <servlet-class>jm.seg.FrmCambiarClave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmCambiarClaveGuardar</servlet-name>
        <servlet-class>jm.seg.FrmCambiarClaveGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmPerfilCliente</servlet-name>
        <servlet-class>jm.seg.FrmPerfilCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmRestablecerClave</servlet-name>
        <servlet-class>jm.seg.FrmRestablecerClave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmClienteNuevoGuardar</servlet-name>
        <servlet-class>jm.seg.FrmClienteNuevoGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmContratar</servlet-name>
        <servlet-class>jm.cont.FrmContratar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmConsultaContratar</servlet-name>
        <servlet-class>jm.cont.FrmConsultaContratar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmContratarPlanilla</servlet-name>
        <servlet-class>jm.cont.FrmContratarPlanilla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmContratarPlanillaGuardar</servlet-name>
        <servlet-class>jm.cont.FrmContratarPlanillaGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmInstalacionContrato</servlet-name>
        <servlet-class>jm.cont.FrmInstalacionContrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmInstalacion</servlet-name>
        <servlet-class>jm.cont.FrmInstalacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmDocumentoElectronico</servlet-name>
        <servlet-class>jm.fac.FrmDocumentoElectronico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmConsultaDocumento</servlet-name>
        <servlet-class>jm.fac.FrmConsultaDocumento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmConsultaInstalacion</servlet-name>
        <servlet-class>jm.pag.FrmConsultaInstalacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmOfertaLaboral</servlet-name>
        <servlet-class>emp.FrmOfertaLaboral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmOfertaLaboralPostular</servlet-name>
        <servlet-class>emp.FrmOfertaLaboralPostular</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrmOfertaLaboralPostularGuardar</servlet-name>
        <servlet-class>emp.FrmOfertaLaboralPostularGuardar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrmPlanes</servlet-name>
        <url-pattern>/FrmPlanes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmMenuPlanes</servlet-name>
        <url-pattern>/FrmMenuPlanes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmDetallePlan</servlet-name>
        <url-pattern>/FrmDetallePlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmPagoRegistro</servlet-name>
        <url-pattern>/FrmPagoRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmPagoInstalaciones</servlet-name>
        <url-pattern>/FrmPagoInstalaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmPagoSubir</servlet-name>
        <url-pattern>/FrmPagoSubir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmPagoSubirGuardar</servlet-name>
        <url-pattern>/FrmPagoSubirGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmBuscarCliente</servlet-name>
        <url-pattern>/FrmBuscarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmUsuarioNuevoGuardar</servlet-name>
        <url-pattern>/FrmUsuarioNuevoGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmInicioSesion</servlet-name>
        <url-pattern>/FrmInicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmIndex</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmSalir</servlet-name>
        <url-pattern>/Salir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmMenu</servlet-name>
        <url-pattern>/FrmMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmInstalacionReporte</servlet-name>
        <url-pattern>/FrmInstalacionReporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmFiltro</servlet-name>
        <url-pattern>/FrmFiltro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmGetTabla</servlet-name>
        <url-pattern>/FrmGetTabla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmReclamo</servlet-name>
        <url-pattern>/FrmReclamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmReclamoOpcion</servlet-name>
        <url-pattern>/FrmReclamoOpcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmReclamoGuardar</servlet-name>
        <url-pattern>/FrmReclamoGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmReclamoInfo</servlet-name>
        <url-pattern>/FrmReclamoInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmPagoInfo</servlet-name>
        <url-pattern>/FrmPagoInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmSuspencion</servlet-name>
        <url-pattern>/FrmSuspencion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmSuspencionGuardar</servlet-name>
        <url-pattern>/FrmSuspencionGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfSuspension</servlet-name>
        <url-pattern>/PdfSuspension</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmCambiarClave</servlet-name>
        <url-pattern>/FrmCambiarClave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmCambiarClaveGuardar</servlet-name>
        <url-pattern>/FrmCambiarClaveGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmPerfilCliente</servlet-name>
        <url-pattern>/FrmPerfilCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmRestablecerClave</servlet-name>
        <url-pattern>/FrmRestablecerClave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmClienteNuevoGuardar</servlet-name>
        <url-pattern>/FrmClienteNuevoGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmContratar</servlet-name>
        <url-pattern>/FrmContratar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmConsultaContratar</servlet-name>
        <url-pattern>/FrmConsultaContratar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmContratarPlanilla</servlet-name>
        <url-pattern>/FrmContratarPlanilla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmContratarPlanillaGuardar</servlet-name>
        <url-pattern>/FrmContratarPlanillaGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmInstalacionContrato</servlet-name>
        <url-pattern>/FrmInstalacionContrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmInstalacion</servlet-name>
        <url-pattern>/FrmInstalacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmDocumentoElectronico</servlet-name>
        <url-pattern>/FrmDocumentoElectronico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmConsultaDocumento</servlet-name>
        <url-pattern>/FrmConsultaDocumento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmConsultaInstalacion</servlet-name>
        <url-pattern>/FrmConsultaInstalacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmOfertaLaboral</servlet-name>
        <url-pattern>/FrmOfertaLaboral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmOfertaLaboralPostular</servlet-name>
        <url-pattern>/FrmOfertaLaboralPostular</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrmOfertaLaboralPostularGuardar</servlet-name>
        <url-pattern>/FrmOfertaLaboralPostularGuardar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
