BODY{
/*    background-image:url(../img/fondo.jpg);*/
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px;
}
.panel-top{
    border:1px #cc7a00 solid;
    background-color: #e65100;
    padding: 10px;
    color:#FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.panel {
    width: 40%;
    float: left;
    border:1px solid #FEFEFE;
    background-color: #ECECEC;
    padding: 10px;
    margin: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.grid-container {
    grid-auto-rows: minmax(200px, auto);
    box-sizing: border-box;
}

@media only screen and (min-width: 500px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 800px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

#logo{
    position: absolute;
    right:15px;
    top: 25px;
}
.H1{
    font-size:36px;
    padding: 25px 0px;
}
.H2{
    font-size:26px;
    padding: 20px 0px;
}
.H3{
    font-size:20px;
    text-align: center;
    padding: 15px 0px;
}
.H4{
    font-size:16px;
    padding: 10px 0px;
}
.H5{
    font-size:10px;
    padding: 5px 0px;
}
.btn-oferta{
    text-align: right;
}
.boton{
    border:1px #01579b solid;
    background-color: #00e5ff;
    cursor: pointer;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    padding: 10px 20px;
}
.boton2{
    border:1px #e53935 solid;
    background-color: #f22112;
    cursor: pointer;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    padding: 10px 20px;
}
td{
    padding: 5px;
}
.ventana{
    position: fixed;
    top: 10px;
    z-index: 999;
    overflow: auto;
    width: 92%;
    height: 84%;
    border:1px #9acffa solid;
    background-color: #e3f2fd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 50px;
}
